*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size)*.9);
  --bg-color: white;
  --hv-sym-color: lightgrey;
}

header {
  text-align: center;
}

body {
  margin: 0;
}

.navbar {
  color: black;
}

.setting {
  text-align: center;
}

.setting button {
  //font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: .24em .5em;
  cursor: pointer;
}

.head {
  width: 100vw;
  height: 10vh;
  align-content: center;
  justify-content: center;
}

.board {
  width: 100vw;
  height: 90vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3,auto)
}

.cell {
  width: 100px;
  height: 100px;
  background-color: var(--bg-color); /*#e4d1d1; /*black;*/
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n+1) {
  border-left: none;
}

.cell:nth-child(3n+3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.cell.x,
.cell.o {
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.o::before {
  background-color: black;
}

.board.x .cell:not(.x):not(.o):hover::before, 
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before {
  background-color: var(--hv-sym-color) /*darkgrey;*/
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before, 
.board.x .cell:not(.x):not(.o):hover::after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size)*.15);
  height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:hover::after {
  transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
  width: calc(var(--mark-size)*.7);
  height: calc(var(--mark-size)*.7);
  background-color: var(--bg-color); /*#e4d1d1;*/
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .9);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
}

.winning-message button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: .24em .5em;
  cursor: pointer;
}

.winning-message button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.winning-message.show {
  display: flex;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /*background-color: red;*/
  font-size: 14px;
  color: black;
  text-align: center;
}